.landing-page-search-panel {
  height: 525px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.search-panel-header {
  width: 700px;

  padding-bottom: 15px;
}

.search-panel-search-bar {
  display: block;
  width: 50%;

  padding-bottom: 10px;
  justify-self: center;
}

.search-panel-main-phrase {
  color: var(--catch-phrase-text-color);
  font-size: 24px;

  padding-bottom: 15px;
}

.search-panel-footer {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 7px;
}

.search-panel-footer:hover{
  border-radius: 10px;

  background-color: var(--about-block-hover-color);
}

.search-panel-icon-announcer {
  font-size: 20px;
  padding-right: 20px;
}

.search-panel-icon-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 20px;
  align-items: center;
}

.logo-epic {
  width: 50px;
  height: 76.25px;

  padding-left: 2.5px;
  padding-right: 2.5px;
}

.logo-epic:hover {
  width: 53px;
  height: 76.25px;
}

.logo-steam {
  width: 50px;
  height: 50px;

  padding-left: 2.5px;
  padding-right: 2.5px;
}

.logo-steam:hover {
  width: 55px;
  height: 55px;
}

.logo-gog {
  width: 50px;
  height: 50px;

  padding-left: 2.5px;
  padding-right: 2.5px;
}

.logo-gog:hover {
  width: 55px;
  height: 55px;
}

@media screen and (max-width: 1450px) {
  .search-panel-header{
    width: 600px;
  }
}

/* Max width for smart phones */
@media screen and (max-width: 960px) {
  .landing-page-search-panel {
    height: 400px;
  }

  .search-panel-header{
    width: 450px;
  }
}

@media screen and (max-width: 920px) {
  .search-panel-header{
    width: 360px;
  }
}